.home {
    width: 64px;
    height: 64px;
    background-image: url(../images/contact/Bilibili.svg);
    position: relative;
    left: 43px;
    transition: background-image .6s;
}
.home:hover {
    transition: content .6s;
    cursor: pointer;
    background-image: url("../images/home.svg");
    transition: background-image .6s;
}