.home {
    width: 64px;
    height: 64px;
    position: relative;
    top: 10px;
    left: 43px;
    .on {
        position: relative;
        opacity: 0;
        transition: opacity .6s;
    }
    .off {
        position: absolute;
        opacity: 1;
        transition: opacity .6s;
        border-radius: 100%;
    }
}
.home:hover {
    transition: content .6s;
    cursor: pointer;
    .on {
        opacity: 1;
        transition: opacity .6s;
    }
    .off {
        opacity: 0;
        transition: opacity .6s;
    }
}