.prompt {
    background: white;
    color: red;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 2px;
    border-color: gray;
    border-style: groove;
    border-radius: 10%;
    -webkit-user-select: none;
    user-select: none;
    transition: opacity .6s;
}